.essay-container {
  width: 600px;
  height: 85vh;
  overflow-y: auto;
  margin: 0 auto;
  line-height: 1.7;
  font-family: 'Georgia', serif;
  text-align: left;
  margin-top: 25px;
  -ms-overflow-style: none;  
    scrollbar-width: none;
}

.essay-container::-webkit-scrollbar { 
    display: none;
}

.essay-part {
  margin-bottom: 6rem;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1s ease, transform 1s ease;
}

.line br {
  display: block;
  margin-bottom: 1em; /* adjust this value for more or less space */
  content: "";
}

.essay-part.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.cursor {
  display: inline-block;
  animation: blink 1s steps(1) infinite;
}

.zigzag {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: red;
  text-decoration-thickness: 1px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
