:root {
  --bg: #0e0e0f;
  --fg: #e6e6e6;
  --accent: #9aa3ad;
}
html, body { height: 100%; margin: 0; background: var(--bg); color: var(--fg);  overflow: auto; }
* { box-sizing: border-box; }

@font-face {
  font-family: 'Schroffer Mono';
  src: url('/fonts/SchrofferMonoVF.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inconsolata Condensed';
  src: url('/fonts/inconsolata-regular.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}